{{define "title"}}Home{{end}}
        
{{define "main"}}
    <h2>Latest Pastes</h2>
    {{if .Pastes}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Pastes}}
            <tr>
                <td><a href='/paste/view/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}
